extends base

block content
    h1#h1 #{title}
    div#body
        header#header
            nav#nav
                ul#ul
                    li#li: a#a(href='/adminPanel/users') Users
                    li#li: a#a(href='/adminPanel/tours') Tours
                    li#li: a#a(href='/adminPanel/reviews') Reviews
                    li#li: a#a(href='/adminPanel/bookings') Bookings 

